.head{
    top: 0;
    width: 100%;
    background-color: gray;
  }
  .custom-select{
      padding: 5px;
      float: right;
  }
  .cm-name{
      margin-left: 10px !important;
      font-weight: 700 !important;
  }