.name-des{
    font-size: 12px;
}
.mat-tab-link{
    min-width:0px !important;
    font-size: 14px !important;
}
.personal-fields{
    font-size: 13px;
}
.mt-15{
    margin-top: 15px;
}
.citizenfiled{
    width: 150px;
}
