.info-type{
    font-size: 18px;
    font-weight: 500;
}
.custom{
    font-size: 15px;
    font-weight: 500;
}
.personal-info{
    margin-top:20px;

}

.error-block{
    text-align: center;
    color:red;
    padding: 50px;
}